{% for driver in drivers %}
  <div class="col-lg-4 col-md-6 col-sm-12 driver-card-outer">
    <div class="card driver-card js-select-driver" style="width: 18rem;" driver-id="{{driver.id}}">
      <label class="bg-info text-warning js-selected-label"> Selected </label>
      <img class="card-img-top" src="{{ MEDIA_URL }}{{ driver.image }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{driver.name}}</h5>
        <div class="card-text">
          <div>Known languages: </div>
          {% for language in driver.languages %}
            <span class="text-warning"> {{language}} &nbsp;</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}