.driver-card-outer{
    margin: 10px 0px 10px 0px;
}
.driver-card, .driver-filter{
    cursor: pointer;
}
.js-selected-label, .filter-count{
    display: none;
}
.driver-filter
{
    padding: 5px;
    border-radius: 15px;
}