<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{tab_title}}</title>

  <!-- Bootstrap core CSS -->
  {% load static %}
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'css/common.css'%}" rel="stylesheet">

  {% block additionalCSS %}
  {% endblock %}
  <script src="{% static 'vendor/jquery/js/jquery.min.js' %}"></script>
  <script src="{% static 'js/common.js' %}"></script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% block navHome %} {% endblock %}" >
            <a class="nav-link" href="/">Home
            </a>
          </li>
          <li class="nav-item {% block navAbout %} {% endblock %}">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item {% block navContact %} {% endblock %}">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div id="content">
      {% block content %}
      <p>Content block</p>
      {% endblock %}
  </div>

  <!-- Footer -->
  <footer class="py-3 bg-primary">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; GALLECTO 2019</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <!-- <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  {% block additionalJS %}
  {% endblock %}
</body>

</html>
