{% extends "base.html" %}
{% block additionalCSS %}
  {% load static %}
  <link href="{% static 'css/car-driver.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/jquery/css/jquery-ui.css' %}" rel="stylesheet">
{% endblock %}
{% block navHome %}
    active
{% endblock %}
{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-5">Car and Driver selection!</h1>
      <p class="lead">Independent choice of your car and driver.</p>
      <!-- <a href="#" class="btn btn-primary btn-lg js-plan-trip-btn">Plan your trip!</a> -->

      <div class="selections">
        <div class="form-group">
          <label for="email">Select Car:</label>
          <div class="row">
            <div class="col-md-10 col-sm-12">
                <select class="form-control" id="car-selection" disabled="disabled">
                  <option value="1" selected="selected">Pre-Selected Car</option>
                </select>
            </div>
            <!-- <div class="col-md-2 col-sm-12">
              <a href="#" class="btn btn-primary js-show-map-btn">Select Location</a>
            </div> -->
          </div>
        </div>
        <div class="form-group">
          <div>
            <span>Driver selection: </span>
            <span class="bg-info text-warning driver-filter js-driver-filter">
              <svg xmlns="http://www.w3.org/2000/svg" width="16.483" height="13.599" viewBox="0 0 16.483 13.599">
                <path d="M15.914,9.93a.491.491,0,0,0-.438-.247H.483a.491.491,0,0,0-.438.247.393.393,0,0,0,.064.458l5.764,6.224v5.739a.422.422,0,0,0,.229.366.536.536,0,0,0,.47.02l3.238-1.429a.429.429,0,0,0,.269-.385l.006-4.311,5.764-6.224A.393.393,0,0,0,15.914,9.93ZM9.229,16.183a.4.4,0,0,0-.11.273l-.006,4.2-2.271,1v-5.2a.4.4,0,0,0-.11-.274L1.509,10.544H14.451Z" 
                transform="translate(0.262 -9.433)" fill="#fff" stroke="#fff" stroke-width="0.5"/>
              </svg>
              {% if selected_filters|length > 0 %}
                <span class="text-warning js-filter-count filter-count" data-toggle="tooltip" title="Applied Filters" style="display: inline-block;">({{selected_filters|length}})</span>
              {% else %}
                <span class="text-warning js-filter-count filter-count" data-toggle="tooltip" title="Applied Filters"></span>
              {% endif %}
            </span>
          </div>
          <div class="row js-drivers-container">
            {% for driver in drivers %}
              <div class="col-lg-4 col-md-6 col-sm-12 driver-card-outer">
                {% if driver.id == selected_driver %}
                <div class="card driver-card js-select-driver bg-info" style="width: 18rem;" driver-id="{{driver.id}}" driver-selected="1">
                  <label class="bg-info text-warning js-selected-label" style="display: block;"> Selected </label>
                {% else %}
                <div class="card driver-card js-select-driver" style="width: 18rem;" driver-id="{{driver.id}}" driver-selected="0">
                  <label class="bg-info text-warning js-selected-label"> Selected </label>
                {% endif %}
                  <img class="card-img-top" src="{{ MEDIA_URL }}{{ driver.image }}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{driver.name}}</h5>
                    <div class="card-text">
                      <div>Known languages: </div>
                      {% for language in driver.languages %}
                        <span class="text-warning"> {{language}} &nbsp;</span>
                      {% endfor %}
                    </div>
                  </div>
                </div>  
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="form-group">
          <a href="#" class="btn btn-primary js-proceed">Proceed</a>
        </div>
      </div>
    </header>
  </div>
  <!-- /.container -->
  <div id="modals">
    <div id="driver-filter-modal" class="modal fade" role="modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
          <div class="modal-header">
            <h4 class="modal-title">Filter Drivers</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="languages">
              <h5 class="heading"> Based on languages known</h5>
              {% for language in languages %}
                <div class="checkbox">
                  <label><input type="checkbox" value="{{language.id}}" {% if language.id in selected_filters %} checked {% endif %}>{{language.name}}</label>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
              <input type="button" class="btn btn-warning btn-driver-filter-reset" value="Reset"/>
            <input type="button" class="btn btn-primary btn-driver-filter-apply" value="Apply"/>
          </div>
        </div><!-- /.modal-content -->
      </div>
    </div><!-- /.modal-dialog -->
  </div>
{% endblock %}

{% block additionalJS %}
<script>
  const token = "{{ csrf_token}}";
  var selectedDriverId = "{{selected_driver}}";
</script>
<script src="{% static 'js/car-driver.js' %}"></script>
{% endblock %}