{% extends "base.html" %}
{% block additionalCSS %}
  {% load static %}
  <link href="{% static 'css/confirm-details.css' %}" rel="stylesheet">
{% endblock %}
{% block navHome %}
    active
{% endblock %}
{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-5">Confirm your trip details</h1>
      <div class="confirm-details">
        <div class="row">
          <div class="col-md-12">
              <div class="card confirm-block">
                  <div class="card-body">
                      <div class="bg-mmuted">
                        <label class="font-weight-bold">Name : </label>
                        <p>{{user_name}}</p>
                        <label class="font-weight-bold">email : </label>
                        <p>{{user_email}}</p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card confirm-block">
                    <div class="card-body">
                        <div>
                            <label class="font-weight-bold">Pickup Address : </label>
                            <p>{{from_address}}</p>
                            <label class="font-weight-bold">Drop Address : </label>
                            <p>{{to_address}}</p>
                            <label class="font-weight-bold">Pickup Date : </label>
                            <p>10-10-2020</p>
                            <label class="font-weight-bold">Pickup Time : </label>
                            <p>10:00:00</p>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-primary js-edit-locations update-button">Change</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card confirm-block">
                    <div class="card-body">
                        <div>
                            <label class="font-weight-bold">Selected Car : </label>
                            <p>Pre selected</p>
                            <label class="font-weight-bold">Selected Driver : </label>
                            <p>{{selected_driver}}</p>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-primary js-edit-selections update-button">Change</a>
            </div>
        </div>
        <div class="form-group">
          <a href="#" class="btn btn-primary js-proceed">Proceed</a>
        </div>
      </div>  <link href="{% static 'vendor/jquery/css/jquery-ui.css' %}" rel="stylesheet">
    </header>
  </div>
  <!-- /.container -->
{% endblock %}
car-driver
{% block additionalJS %}
<script>
  const token = "{{ csrf_token}}";
</script>
<script src="{% static 'js/confirm-details.js' %}"></script>
{% endblock %}