{% extends "base.html" %}
{% block additionalCSS %}
  {% load static %}
  <link href="{% static 'vendor/jquery-ui/jquery-ui.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/jquery-ui/jquery-timepicker.css' %}" rel="stylesheet">
{% endblock %}
{% block navHome %}
    active
{% endblock %}
{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">A Warm Welcome!</h1>
      <p class="lead">Nice and easy planning and booking for your trip.</p>
      <h3 class="big">Plan you one way trip now.</h3>
      <!-- <a href="#" class="btn btn-primary btn-lg js-plan-trip-btn">Plan your trip!</a> -->

      <div class="locations">
        <div class="form-group">
          <label class="font-weight-bold">Starting Address:</label>
          <div class="row">
            <div class="col-md-10 col-sm-12">
                <input type="email" class="form-control" id="from-address" value="{{from_address}}">
            </div>
            <!-- <div class="col-md-2 col-sm-12">
              <a href="#" class="btn btn-primary js-show-map-btn">Select Location</a>
            </div> -->
          </div>
        </div>
        <div class="form-group">
          <label class="font-weight-bold">Destination Address:</label>
          <div class="row">
            <div class="col-md-10 col-sm-12">
                <input type="email" class="form-control" id="to-address" value="{{to_address}}">
            </div>
            <!-- <div class="col-md-2 col-sm-12">
              <a href="#" class="btn btn-primary js-show-map-btn">Select Location</a>
            </div> -->
          </div>
        </div>
        <div class="form-group">
          <label class="font-weight-bold">Schedule Pickup:</label>
          <div class="row">
            <div class='col-md-5 col-sm-12'>
              <div class="form-group">
                  <label class="font-weight-bold">Pickup Date:</label>
                  <input type='text' class="form-control" id="datepicker1" value="{{pickup_date}}"/>
              </div>
            </div>
            <div class='col-md-5 col-sm-12'>
              <div class="form-group">
                  <label class="font-weight-bold">Pickup Time:</label>
                <input type='text' class="form-control" id="timepicker1" value="{{pickup_date}}"/>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <a href="#" class="btn btn-primary js-proceed">Proceed</a>
        </div>
      </div>
    </header>
    <div id="modals">
      <div id="location_selector" class="modal fade" role="modal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content modal-md">
            <div class="modal-header">
              <h4 class="modal-title">Choose location</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  <span class="sr-only">Close</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group input-group">
                  <input type="text" id="search_location" class="form-control" placeholder="Search location">
                  <div class="input-group-btn">
                    <button class="btn btn-default get_map" type="submit">
                        Locate
                    </button>
                  </div>
                </div>
              </form>
                
              <!-- display google map -->
              <div id="travel0-map"></div>
              
              <!-- display selected location information -->
              <h4>Location Details</h4>
              <p>Address: <input type="text" class="search_addr" size="45"></p>
              <p>Latitude: <input type="text" class="search_latitude" size="30"></p>
              <p>Longitude: <input type="text" class="search_longitude" size="30"></p>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Select" />
            </div>
          </div><!-- /.modal-content -->
        </div>
      </div><!-- /.modal-dialog -->
    </div>
  </div>
  <!-- /.container -->
{% endblock %}

{% block additionalJS %}
<script src="{% static 'vendor/jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static 'vendor/jquery-ui/jquery-timepicker.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
<script>
  const token = "{{ csrf_token}}";
</script>
<!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCkWdd0ZELWJyGpdqjxY_98q5dr2TQEN1Q"></script> -->
{% endblock %}